$offset: 45px;
$indigo_color: #1E1A3E;
$text-field-label-top: 6px;
$input-label-translate: 24px;
$input-label-translateY: 0 - $text-field-label-top - $input-label-translate;
$signFormOffset: 20px 10px;
