$offset: 45px;
$indigo_color: #1E1A3E;
$indigo_color-2: #181C43;
$astra-pink: rgb(255, 102, 131, 0.2);
$astra-white: #FFFFFF;
$text-field-label-top: 6px;
$text-field-outlined-rounded-padding: 0 24px;
$input-label-translate: 24px;
$input-label-translateY: 0 - $text-field-label-top - $input-label-translate;
$signFormOffset: 20px 10px;
