@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;806&display=swap");
@import "assets/alias";

.text--astra--indigo {
  color: $indigo_color-2;
}

.background--astra--white {
  background: #FFFFFF;
}


.text-offset {
  padding: 0 $offset;
}

.v-application .v-application--wrap a {
  color: $indigo_color-2
}
